body{
background:#0f172a;
color:white;
font-family:Arial;
display:flex;
justify-content:center;
}

.container{
width:800px;
margin-top:50px;
}

h1{
text-align:center;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
margin-bottom:30px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border-radius:5px;
border:none;
}

button{
padding:12px;
background:#38bdf8;
border:none;
border-radius:6px;
cursor:pointer;
font-weight:bold;
}

button:hover{
background:#0ea5e9;
}

.chartBox{
background:#1e293b;
padding:20px;
border-radius:10px;
}
